<div class="main">
  <div class="container">
    <h1>Testing!!</h1>
    <p>Still in progress</p>
    This is default text!
    <% load '~/Documents/coding/raspberryPI/weatherstation.rb' %>
    <% server = WeatherMan.new %>
    <% @thetemp = server.getWeather(4219934)[:temp]%>
    <h4 class = 'fun'> The weather is   <%=@thetemp%>  degrees! </h4>
  </div>
</div>
