<div class="main">
  <div class="container">
    <body>
      <div id = 'rectangle' style="padding:0px;margin:0px">
      </div>
      <h4 class = 'fun'> The weather is   <%=@outside_data[:temp]%>  degrees! </h4>
      <h4 class = 'fun'> Yet inside it's <%=@sensor_temp%> </h4>
    </body>
  </div>
</div>
