<div class="main">
  <div class="container">
    <h1>Testing!!</h1>
    <p>Still in progress</p>
    This is default text!
    <h4 class = 'fun'> The weather is   <%=$outside_data[:temp]%>  degrees!
   Yet inside it's <%=$sensor_temp%> </h4>
  </div>
</div>
